# DB_CONNECTION_STRING=Host=localhost;Port=5432;Database=your_database;Username=your_username;Password=your_password;Search Path=your_schema;Ssl Mode=Prefer;Trust Server Certificate=true

# Redis Configuration (Message Broker)
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_STREAM_EMAIL=email_queue
REDIS_CONSUMER_GROUP=email_workers
REDIS_CONSUMER_NAME=worker_1
